<%- include('partials/header') %>

<section class="profile-page">
  <div class="profile-info">
    <img src="<%= user.profilePhoto %>" alt="Foto de Perfil" class="profile-photo" width="200" style="grid-area: photo;">

    <div class="profile-aside" style="grid-area: name;">
      <h1 ><%= user.username %>, <%= user.age %> anos</h1>
      <p class="status">
        <strong>Status:</strong>
        <span style="color: <%= user.isOnline ? '#27ae60' : '#95a5a6' %>">
          <%= user.isOnline ? 'Online agora' : 'Offline' %>
        </span>
      </p>
      <div>
        <h3>Redes Sociais:</h3>
        <ul class="social-links">
          <% if (user.socialLinks.instagram) { %>
            <li><a href="<%= user.socialLinks.instagram %>" target="_blank">@<%= user.username%></a> <i class="fa-brands fa-instagram"></i></li>
          <% } %>
        </ul>
      </div>
    </div>
    <div class="bio" style="grid-area: bio;"><h3>Biografia:</h3> <p><%- user.bio.replace(/\n/g, '<br>') %></p></div>

    <div style="grid-area: hobbies;">
      <h3>Hobbies:</h3>
      <ul class="hobbies-list">
        <% user.hobbies.forEach(hobby => { %>
          <li><%= hobby %></li>
        <% }); %>
      </ul>
    </div>

    <div style="grid-area: gallery;">
      <h3>Galeria de Fotos:</h3>
      <div class="gallery">
        <% user.gallery.forEach(photo => { %>
          <img src="<%= photo %>" alt="Galeria" class="gallery-photo" width="120">
        <% }) %>
      </div>
    </div>




    <a href="/profile/edit" class="btn btn--primary">Editar Perfil</a>
  </div>
</section>


<%- include('partials/footer') %>